* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (max-width: 500px) {
    * {
        width: 100%;
        margin: 0;
    }
    body {
        margin: 0;
        flex-direction: column;
        align-items: center;
    }
    .site-main {
        flex-direction: column;
    }
    .site-header ul {
        padding-left: 12em;
    }
    .site-header ul li{
        padding-bottom: 3em;
    }
}

@media (min-width: 500px) {
    body {
        margin: 2em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .site-header,
    .site-header ul {
        display: flex;
        justify-content: space-between;
        align-items: center;;
    }
  
}
.site-header ul li {
    list-style: none;
}
.site-header ul li a {
    color: black;
    padding: 1em;
    margin: 1em;
    text-decoration: none;
}
.site-header,
.site-menu,
.task-container,
.site-footer {
    background-color: rgb(102, 189, 218);
    padding: 1em;
    margin: 0.5em;
    border-radius: 2%;
}

.site-header {
    flex: 0 0 100%;
}
.title {
    font-weight: bold;
    font-size: 3em;
}
.site-main {
    display: flex;
    flex: 0 0 100%;
}
.site-menu {
    flex: 1 1 20%;
}
.site-menu ul li {
    list-style: none inside;
}
.site-menu ul li a {
    text-decoration: none;
    color: black;
}
.task-container {
    flex: 0 0 79%;
}
.task-container h1 {
    padding-bottom: 1em;
}
.task-container ul {
    padding-left: 2em;
}
.site-footer {
    flex: 0 0 100%;
}
